body{
    background-color:#000000;
}
h1{
    color:#72cde4;
    text-align: center;
}

table, th, td{
    
    border:dashed#000000 1px;
}

#p1{
    width: 1420px;
    align-self: center;
    
}

#p2{
    width: 400px;
    align-self: center;
}

a{
    color:#555A87;
    text-align: center;
}
nav{
    color:#555A87
}

h2{
    color:#72cde4;
    text-align: center;
}

h3{
    color:#72cde4;
    text-align: center;
}