body{
    background-color:#000000;
}
h1{
    color:#EB8D88;
    text-align: center;
}

table, th, td{
    
    border:dashed#000000 1px;
}
p{
    color:#000000;
    text-align: center;

}

#p1{
    width: 1420px;
    align-self: center;
    
}

#p2{
    width: 400px;
    align-self: center;
}

#p3{
    width: 400px;
    align-self: last baseline;

}
a{
    color:#555A87;
}
nav{
    color:#555A87
}
